Repository LiyanaKharulaman/ml-engineering-school: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-isort, ruff-format, ruff-check, nbstripout, python-bandit-vulnerability-check, codespell

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: local
    hooks:
    - id: ruff-isort
      name: ruff isort
      entry: ruff check --fix --select I --config pyproject.toml --show-fixes
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-format
      name: ruff format
      entry: ruff format --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-check
      name: ruff check
      entry: ruff check --config pyproject.toml --output-format concise
      types: [python]
      language: system
      stages: [commit, push]
    - id: nbstripout
      name: Strip Jupyter notebook output (nbstripout)
      entry: python -m nbstripout
      types: [file]
      files: (.ipynb)$
      language: system
      stages: [commit, push]
    - id: python-bandit-vulnerability-check
      name: Security check (bandit)
      entry: bandit
      types: [python]
      args: ["--recursive", "lib/"]
      language: system
    - id: codespell
      name: codespell markdown
      entry: codespell
      types: [markdown]
      language: system
      stages: [commit, push]

Added main.py and argparse (#3)
  main.py
  notebooks/solution.ipynb
  requirements-dev.in
  requirements-dev.txt
Due: ruff-isort, ruff-format, ruff-check, nbstripout, python-bandit-vulnerability-check

feat: add Poetry (#4)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

fix: local package definition with poetry
  pyproject.toml
Due: none

feat: eda (#5)
  lib/plots.py
  notebooks/eda_solution.ipynb
  notebooks/eda_starter.ipynb
  notebooks/modeling_solution.ipynb
  notebooks/modeling_starter.ipynb
  poetry.lock
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, nbstripout, python-bandit-vulnerability-check

feat: unit and coverage test (#6)
  .github/workflows/ci.yaml
  Makefile
  lib/preprocessing.py
  poetry.lock
  pyproject.toml
  tests/test_preprocessing.py
Due: ruff-isort, ruff-format, ruff-check, python-bandit-vulnerability-check

docs: add git 101 guidelines (#7)
  README.md
  guidelines/Part-1/00_setup.md
  guidelines/Part-1/01_git_101.md
  guidelines/Part-1/02_notebooks_to_scripts.md
  guidelines/Part-1/03_linting_and_formatting.md
  guidelines/Part-1/04_continuous_integration.md
  guidelines/Part-1/05_unit_testing.md
  guidelines/Part-1/06_code_documentation.md
  guidelines/Part-1/07_dependencies_and_venv.md
  guidelines/Part-1/08_wrap_up.md
  guidelines/Part-2/.gitkeep
  guidelines/_assets/git_flow.png
Due: codespell

feat: docstrings + loguru (#8)
  bin/run_pipeline.sh
  lib/data_loading.py
  lib/evaluation.py
  lib/modelling.py
  lib/plots.py
  lib/preprocessing.py
  main.py
  notebooks/eda_solution.ipynb
Due: ruff-isort, ruff-format, ruff-check, nbstripout, python-bandit-vulnerability-check

docs: update git guidelines with schema (#9)
  guidelines/Part-1/01_git_101.md
  guidelines/_assets/git_flow.excalidraw
  guidelines/_assets/git_flow.png
  guidelines/_assets/git_flow.svg
Due: codespell

docs: add notebooks to scripts guideline (#1)
  guidelines/Part-1/02_notebooks_to_scripts.md
Due: codespell

docs: add dependencies and venv guideline (#4)
  guidelines/Part-1/07_dependencies_and_venv.md
Due: codespell

docs: add unit testing guideline (#2)
  .github/workflows/ci.yaml
  guidelines/Part-1/05_unit_testing.md
Due: codespell

docs: add code documentation guideline (#3)
  guidelines/Part-1/06_code_documentation.md
Due: codespell

docs: add linting guideline (#5)
  guidelines/Part-1/03_linting_and_formatting.md
Due: codespell

docs: add ci guideline (#6)
  guidelines/Part-1/04_continuous_integration.md
Due: codespell

initialise data
  lib/data_loading.py
Due: ruff-isort, ruff-format, ruff-check, python-bandit-vulnerability-check

fix: fix ci python setup (#13)
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: none

enh: add hello file (#12)
  hello.txt
Due: none

feat: experiment tracking (#14)
  .gitignore
  bin/run_pipeline.sh
  guidelines/Part-2/10_mflow.md
  main.py
  poetry.lock
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, python-bandit-vulnerability-check, codespell

05_unit_testing.md
  lib/data_loading.py
Due: ruff-isort, ruff-format, ruff-check, python-bandit-vulnerability-check

06_code_documentation.md
  docs/index.md
  mkdocs.yml
Due: codespell

feat/git 101 validation
  .DS_Store
  Tests/test_data_preprocessing.py
  lib/__pycache__/data_loading.cpython-310.pyc
  lib/__pycache__/model_evaluation.cpython-310.pyc
  lib/__pycache__/modelling.cpython-310.pyc
  lib/data_schema.py
  lib/evaluation.py
  lib/model_card.py
  lib/model_evaluation.py
  lib/modelling.py
  lib/utils.py
  lib/validate_config.py
  main.py
  submit_pipeline.py
  tests/test_preprocessing.py
Due: ruff-isort, ruff-format, ruff-check, python-bandit-vulnerability-check
